<title>reset password - projectfama</title>
{% extends 'registration/base.html' %}
{% block content %}
    {% if form.non_field_errors or form.errors %}
        <div id="form_errors">
            <i class="fa fa-exclamation-triangle"></i>
            <i class="fa fa-times"></i>
            {% for i in form.non_field_errors %}
                <div id="error">{{ i }}</div>
            {% endfor %}
            {% for i in form.username.errors %}
                <div id="error">{{ i }}</div>
            {% endfor %}
            {% for i in form.password.errors %}
                <div id="error">{{ i }}</div>
            {% endfor %}
        </div>
    {% endif %}


    <div id="main-box">
        <form method="post" action>{% csrf_token %}
            <input id="id_email" maxlength="254" name="email" type="email" placeholder="email" class="default-input-text">

            <button style="width: 100%;background-color: rgba(192, 2, 56, 1)" class="button" type="submit">
                <i class="fa fa-envelope"></i>
                RESET PASSWORD
            </button>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>

        <div id="already-login">
            <a href="/login">
                if you remember your password, <span style="font-weight: 900">log in</span>
            </a>
        </div>
    </div>
{% endblock %}


