<title>change password - projectfama</title>
{% extends 'settings/base.html' %}
{% block content %}
    {% if form.non_field_errors or form.errors %}
        <div id="form_errors">
            <i class="fa fa-exclamation-triangle"></i>
            <i class="fa fa-times"></i>
            {% for i in form.non_field_errors %}
                <div id="error">{{ i }}</div>
            {% endfor %}
            {% for i in form.old_password.errors %}
                <div id="error">{{ i }}</div>
            {% endfor %}
            {% for i in form.new_password1.errors %}
                <div id="error">{{ i }}</div>
            {% endfor %}
            {% for i in form.new_password2.errors %}
                <div id="error">{{ i }}</div>
            {% endfor %}
        </div>
    {% endif %}



        <form method="post" action style="margin: 0">{% csrf_token %}
            <input id="id_old_password" maxlength="254" name="old_password" type="password" placeholder="old password" class="default-input-text">
            <input id="id_new_password1" maxlength="254" name="new_password1" type="password" placeholder="new password" class="default-input-text">
            <input id="id_new_password2" maxlength="254" name="new_password2" type="password" placeholder="new password again" class="default-input-text">

            <button style="width: 100%;background-color: rgba(192, 2, 56, 1)" class="button" type="submit">
                <i class="fa fa-key"></i>
                CHANGE PASSWORD
            </button>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
{% endblock %}